/* In styles.css */
.references li {
    margin-bottom: 10px; /* Adds space below each list item */
}

.profile-pic {
    max-width: 200px; /* Set the maximum width */
    height: auto; /* Maintain the aspect ratio */
}

.highlight {
    color: red;
}

.news-list li {
    list-style-type: square; /* Example: square bullets */
    margin-bottom: 5px; /* Space between items */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .carousel-inner {
        max-width: 100%;
    }

    .img-thumbnail {
        width: 100%;
        height: auto;
    }
}